<ion-header>
  <ion-toolbar>
    <ion-title>
      Search & Sorted List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"
    placeholder="Type the date in DD/MM/YYYY"
  ></ion-searchbar>


  <!-- <ion-datetime
    placeholder="select date"
    [max]="today"
    [(ngModel)]="selectedDate"
    (ionChange)="parseDate()"
    >{{todate}}</ion-datetime
  > -->

  <ion-list>
    <div *ngIf="searchTerm == '' ; else elseTemplate">
      <ion-item *ngFor="let item of items" class="listClass">
        <ion-col size="6">
          <ion-label>
            {{item.Island_name}}
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            {{ item.Visitor_date }}
          </ion-label>
        </ion-col>
        <ion-label>
          {{item.total_visits}}
        </ion-label>
      </ion-item>
    </div>
    <ng-template #elseTemplate>
      <ion-item *ngFor="let thing of things">
        <ion-col size="6">
          <ion-label>
            {{thing.Island_name}}
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-label>
            {{ thing.Visitor_date }}
          </ion-label>
        </ion-col>
        <ion-label>
          {{thing.total_visits}}
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
